# NOTE: update this with your service name
service: rsvp

# Use the serverless-webpack plugin to transpile ES6
plugins:
  - serverless-webpack
  - serverless-dynamodb-local
  - serverless-offline

# serverless-webpack configuration
# Enable auto-packing of external modules
custom:
  environment: ${file(env.yml):${self:custom.stage}, file(env.yml):default}
  stage: ${opt:stage, self:provider.stage}
  tableName: weddingrsvps-${self:custom.stage}
  tableThroughputs:
    prod: 5
    default: 1
  tableThroughput: ${self:custom.tableThroughputs.${self:custom.stage}, self:custom.tableThroughputs.default}
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: true
  serverless-offline:
    port: 3214
  dynamodb:
    stages:
      - dev
    start:
      port: 8000
      inMemory: true
      migrate: true

provider:
  name: aws
  runtime: nodejs8.10
  stage: dev
  region: us-east-1
  environment:
    tableName: ${self:custom.tableName}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:DescribeTable
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource:
        - "Fn::GetAtt": [RsvpsTable, Arn]

# Create our resources with separate CloudFormation templates
resources:
  # DynamoDB
  - ${file(resources/dynamo.yml)}

environment:
  tableName: ${self:custom.tableName}

functions:
  rsvp:
    handler: src/rsvp.rsvp
    events:
      - http:
          path: rsvp
          method: post
          cors: true
  lookup:
    handler: src/lookup.lookup
    events:
      - http:
          path: lookup
          method: post
          cors: true
